<header>
    <h1><a href="/">File Uploader</a></h1>

    <nav>
        <ul class="nav-links">
            <% if(!user) { %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li><a href="/logout">Log Out</a></li>
            <% } %>
        </ul>
    </nav>
</header>