<div>
    <div>
        <% if(user) { %>
            <div class="folders-container">
                <div class="folders-header">
                    <h2>Folders</h2>
                    <a href="/create-folder" class="create-folder">Create a folder</a>
                </div>
                <ul class="folders">
                    <% folders.forEach((folder) => { %>
                        <li><a href="folder/<%= folder.id %>/"><%= folder.name %></a></li>
                    <% }) %>
                </ul>
            </div>
        <% } else { %>
            <h2>Sign Up to upload files</h2>
        <% } %>
    </div>
</div>
