<div>
    <h1>Home</h1>
    <div>
        <% if(user) { %>
            <input type="file" name="file" id="file" accept="application/pdf">
            <button>Upload</button>
        <% } else { %>
            <h2>Sign up to upload your files</h2>
        <% } %>

        
        <% if(user) { %>
            <h2>Folders</h2>
            <a href="/create-folder" class="create-folder">Create a folder</a>
            <ul>
                <% folders.forEach((folder) => { %>
                    <li><%= folder.name %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</div>
