<div>
    <h1>Home</h1>
    <div>
        <% if(user) { %>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept="application/pdf">
                <button>Upload</button>
            </form>
        <% } else { %>
            <h2>Sign up to upload your files</h2>
        <% } %>

        
        <% if(user) { %>
            <div class="folders-container">
                <div class="folders-header">
                    <h2>Folders</h2>
                    <a href="/create-folder" class="create-folder">Create a folder</a>
                </div>
                <ul class="folders">
                    <% folders.forEach((folder) => { %>
                        <li><%= folder.name %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
    </div>
</div>
