<h1>Sign Up</h1>
<form action="/register" method="POST">
    <label for="f_name">First Name <span class="mandatory">*</span></label>
    <input type="text" name="f_name" id="f_name">

    <label for="l_name">Last Name <span class="mandatory">*</span></label>
    <input type="text" name="l_name" id="l_name">

    <label for="username">Username <span class="mandatory">*</span></label>
    <input type="text" name="username" id="username">

    <label for="password">Password <span class="mandatory">*</span></label>
    <input type="password" name="password" id="password">

    <button type="submit">Register</button>
</form>