* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Stencil", sans-serif;
}

.mandatory, .error {
    color: red;
}

header, .nav-links, .folders-header {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.nav-links {
    gap: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-links a, .create-folder  {
    border: 1px solid black;
}

.nav-links a {
    padding: 7px;
    border-radius: 7px;
}

.create-folder {
    padding: 3px;
    border-radius: 4px;
    background-color: bisque;
}

.folders-header {
    justify-content: space-between;
    align-items: center;
    
}

.folders {
    padding-top: 10px;
}

.folders-container {
    padding: 20px;
}