* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Stencil", sans-serif;
}

.mandatory {
    color: red;
}

header, .nav-links {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px;
}

.nav-links {
    list-style-type: none;
    gap: 5px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 7px;
    border-radius: 7px;
}